
body {
    margin: 0;
    padding: 5px 0 0 0 ;
    width: 100%;
    background-color: lightseagreen;
}
.game {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    background: url("../img/bg.png") no-repeat center;
}
.game :nth-child(3) {
    font: 900 30px/40px simsun;
    position: absolute;
    top: 50px;
    right: 80px;
}
.game :nth-child(2), .game :nth-child(4) {
    font: 700 20px/30px simsun;
    position: absolute;
    color: green;
    top: 450px;
    left: 360px;
    /*display: none;*/
    background-color: #eee ;
    border-radius: 25%;
}
.game :nth-child(4) {
    display: none;
}
img {
    display: none;
}